<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Главная</title>
</head>
<body class="body">
    <header class="header">
        <p>Главная страница</p>
    </header>
    <main class="main">
        <form action="/table">
            <input class="front-desc" type="submit" value="Расписание недели Репина Ильи">
        </form>
        <img class='pic' src="https://sun9-25.userapi.com/impg/F54WAqhdxkeA6dW2dEO5wfnnnhVwzdqTDtLxoA/5n-kPW8R7YE.jpg?size=1125x408&quality=95&sign=08033e7b04468a914687a8bcad9c5130&type=album">
    </main>
</body>
</html>