<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <title>Расписание</title>
</head>
<body class="table-body">
    <card class="card">
        <p> Понедельник </p>
        <ul>
            <li>7:00 подъём</li>
            <li>7:00 - 8:00 завтрак, сбор.</li>
            <li>8:00 - 9:30 Повторяю даты/термины по Истории</li>
            <li>9:50-10:40 - дорога в универ</li>
            <li>10:40 - 2:00 Пары</li>
            <li>2:30 - 3:00 дорога в Военно-учебный центр (далее вуц)</li>
            <li>3:00- 17:00 подготовка к параду</li>
            <li>17:00 - 18:00 - дорога домой.</li>
            <li>18:00-19:00 - обэд (приготовить убрать и тд)</li>
            <li>19:00-21:00 - Подготовка к военному дню: одежда еда, домашнее задание</li>
            <li>21:00-23:00 - Поделал курсовую</li>
            <li>23:00-00:00 Подготовка ко сну, отбой</li>
        </ul>
    </card>

    <card class="card">
        <p>Вторник</p>
        <ul>
            <li>6:40 подём</li>
            <li>7:35 Выход в военно-учебный центр</li>
            <li>8:20 Прибытие</li>
            <li>8:40 Построение на утренний развод</li>
            <li>9:00-13:00 - Пары</li>
            <li>13:00-13:30 обед</li>
            <li>13:30 построение на утренний развод</li>
            <li>14:00-18:00 Подготовка к параду</li>
            <li>18:30 - дома</li>
            <li>19:00 обед</li>
            <li>20:00 гуляю с собакой</li>
            <li>21:00-00:00 Курсовая</li>
            <li>00:00-1:00 отбой</li>
        </ul>
    </card>

    <card class="card">
        <p> Среда</p>
        <ul>
            <li>Не иду на пары</li>
            <li>9:00 подъём</li>
            <li>10:00 бегаю с собакой</li>
            <li>До 13:00 делаю курсовую</li>
            <li>13:20 маршрутка в вуц</li>
            <li>До 17:00 подготовка к параду</li>
            <li>18:00 дома</li>
            <li>19:00 ужин</li>
            <li>До 1:00 делаю курсовую, оказалось в четверг уже сдать надо</li>
        </ul>
    </card>

    <card class="card">
        <p> Четверг </p>
        <ul>
            <li>Не иду на пары, так как нужно ещё половину курсовой, а с 14:00 всё равно на парад</li>
            <li>До 17:00 подготовка к параду</li>
            <li>К 23:58 отправляю курсовую, и она оказалась довольно таки не плохой</li>
        </ul>
    </card>

    <card class="card">
        <p> Пятница </p>
        <ul>
            <li>9:00 подъём</li>
            <li>9:50 маршрутка, еду на пары</li>
            <li>15:40 заканчиваются пары</li>
            <li>17:30 дома</li>
            <li>Примерно до 19:00 копаю огород, так как картошку уже сажать скоро</li>
            <li>До 20:00 обэд</li>
            <li>Примерно до 21:00 пишу конспект по истории</li>
            <li>21:00-23:00 - на радостях играю в пабг</li>
            <li>00:00 отбой</li>
        </ul>
    </card>
    
</body>
</html>